[Unit]
Description=Tresorit sync to Internxt Drive as a backup
Wants=internxtSync.timer

[Service]
Type=oneshot
ExecStart=/home/gandalf/bin/cloudsync.py --folder

[Install]
WantedBy=multi-user.target
