[Unit]
Description=KeepassXC file Tresorit sync (both ways)
Wants=keepassxcSync.timer

[Service]
Type=oneshot
ExecStart=/home/gandalf/bin/cloudsync.py --file

[Install]
WantedBy=multi-user.target
