[Unit]
Description=KeepassXC to SpiderOak Hive sync (both ways)
Wants=keepassxcSync.timer

[Service]
Type=oneshot
ExecStart=/home/gandalf/bin/cloudsync.py --spideroak

[Install]
WantedBy=multi-user.target
