[Unit]
Description=KeepassXC database file sync with Tresorit (both ways)
Requires=keepassxcSync.service

[Timer]
Unit=keepassxcSync.service
OnCalendar=*-*-* *:00,5,10,15,20,25,30,35,40,45,50,55:00

[Install]
WantedBy=timers.target
